.DS_Store
.docker
.dockerignore
.editorconfig
.env
.env.example
.git
.gitattributes
.github
.gitignore
.idea
.vscode
Dockerfile
node_modules
npm-debug.log
README.md
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*.log
vendor/
Homestead.json
Homestead.yaml